services:
    mysql:
      image: mysql:8.0
      container_name: ezyplatform-mysql
      restart: unless-stopped
      environment:
        - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD:-root_password}
        - MYSQL_DATABASE=${MYSQL_DATABASE:-blog}
        - MYSQL_USER=${MYSQL_USER:-ezyplatform}
        - MYSQL_PASSWORD=${MYSQL_PASSWORD:-root_password}
      ports:
        - "13306:3306"
      volumes:
        - mysql-data:/var/lib/mysql
      command: --default-authentication-plugin=mysql_native_password
      networks:
        - ezyplatform-network
      healthcheck:
        test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
        timeout: 20s
        retries: 10

    ezyplatform:
      build:
        context: .
        dockerfile: Dockerfile
        platforms:
            - linux/amd64
            - linux/arm64
        args:
          - EZ_VERSION=latest
      image: vutadev/ezyplatform-app:latest
      container_name: ezyplatform
      restart: unless-stopped
      depends_on:
        mysql:
          condition: service_healthy
      environment:
        - DB_HOST=ezyplatform-mysql
        - DB_PORT=3306
        - DB_NAME=${MYSQL_DATABASE}
        - DB_USERNAME=${MYSQL_USER}
        - DB_PASSWORD=${MYSQL_PASSWORD}
        - DB_TABLES_CREATE_MANUALLY=false
        - AUTO_START_WEB=${AUTO_START_WEB:-false}
      ports:
        - "9090"
        - "8080"
        - "18080"
        - "3005"
        - "2208"
        - "2611/udp"
      networks:
      - dokploy-network
      - ezyplatform-network
      volumes:
        - ezyplatform-data:/app/ezyplatform

volumes:
  mysql-data: {}
  ezyplatform-data: {}
networks:
  ezyplatform-network: {}
  dokploy-network:
    external: true